h1{
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-3{
  margin: 0 auto;
  max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0 auto;
  margin-top : 5%;
}
.form-style-3 label{
  display:block;
  margin-bottom: 10px;
}
.form-style-3 label > span{
  float: left;
  width: 100px;
  color: #161f22;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #3a3a3a;
  padding: 20px;
  background: #ffffff;
  border-color: black;
}
.form-style-3 fieldset legend{
  color: #ffffff;
  border: 1px solid #313131;
  border-radius: 5px 5px 5px 5px;
  background-color:#646464;
  padding: 0px 8px 3px 8px;
  font-weight: normal;
  font-size: 12px;
}
.form-style-3 textarea{
  width:250px;
  height:100px;
}
.form-style-3 input[type=text]{
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  color: #161f22;
  padding: 5px 8px 5px 8px;
  background: #ffffff;
  width:70%;
}
.form-style-3 input[type=text]:hover{
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid rgb(165, 165, 165);
  outline: none;
  color: #161f22;
  padding: 5px 8px 5px 8px;
  background: #ffffff;
  width:70%;
}

.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
  background: #353535;
  border: 1px solid #424242;
  padding: 5px 15px 5px 15px;
  color: #161f22;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;	
  font-weight: bold;
}

.form-style-3 input[type=submit]:hover{
  background: #ebedf0;
  color: #161f22;
}

.result{
  text-align: center;
}

button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #2b2b2b;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#ffffff;
  text-align:center;
  transition: all 0.2s;
  background-color:#303030;
  border-radius : 10px;
  }
button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }

.img{
    padding-top:15px;
    text-align: center;
    margin: 0 auto;
  }

  .imgheader{
    margin-top:5px;
  }